name: "CI Unit Tests"

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  Normal:
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Install meson and ninja
      run: pip3 install --user meson ninja
    - name: Run Unit Tests
      run: |
        export PATH=${HOME}/Library/Python/3.8/bin:${HOME}/Library/Python/3.9/bin:${HOME}/.local/bin:${PATH}
        meson -Dbuildtype=release -Denable_cli=true build
        ninja -C build test
        ./test/test-cli.sh ./build/demangle

  Normal-No-GPL:
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Install meson and ninja
      run: pip3 install --user meson ninja
    - name: Run Unit Tests
      run: |
        export PATH=${HOME}/Library/Python/3.8/bin:${HOME}/Library/Python/3.9/bin:${HOME}/.local/bin:${PATH}
        meson -Dbuildtype=release -Denable_cli=true -Duse_gpl=false build
        ninja -C build test
        ./test/test-cli.sh ./build/demangle

  Normal-Minimal:
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Install meson and ninja
      run: pip3 install --user meson ninja
    - name: Run Unit Tests
      run: |
        export PATH=${HOME}/Library/Python/3.8/bin:${HOME}/Library/Python/3.9/bin:${HOME}/.local/bin:${PATH}
        meson -Dbuildtype=release -Denable_cli=true -Duse_gpl=false -Duse_swift_demangler=false build
        ninja -C build test
        ./test/test-cli.sh ./build/demangle

  Asan:
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Install meson and ninja
      run: pip3 install --user meson ninja
    - name: Run Unit Tests with ASAN
      env:
        ASAN_OPTIONS: detect_leaks=0,detect_odr_violation=0,allocator_may_return_null=1
      run: |
        export PATH=${HOME}/Library/Python/3.8/bin:${HOME}/Library/Python/3.9/bin:${HOME}/.local/bin:${PATH}
        meson -Dbuildtype=debugoptimized -Denable_cli=true -Db_sanitize=address,undefined build
        ninja -C build test
        ./test/test-cli.sh ./build/demangle
